{% extends "includes/layout.njk" %}

{% block body %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% block bodyContent %}{% endblock %}

      {%- if dateUpdated or backlog_issue_id%}
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      {% endif %}

      {%- if dateUpdated %}
        <p class="dfeuk-body-s dfeuk-u-secondary-text-color">Updated: {{dateUpdated}}</p>
      {% endif %}

      {%- if backlog_issue_id %}
        <p class="dfeuk-body-s dfeuk-u-secondary-text-color">Source: <a href="{{githubrepo}}/issues/{{backlog_issue_id}}" target="_blank">View GitHub issue for this page</a>
        </p>
      {% endif %}

    </div>

       <div class="govuk-grid-column-one-third">
      {% block stepByStep %}{% endblock %}
    </div>

  </div>

{% endblock %}

 

{% block pageScripts %}



{% endblock %}