{% set pageTitle = "How to book a discovery peer review" %}
{% set pageDescription = "Find out when to book a review and who should attend. " %}
{% set pageSection = "Service assurance" %}
{% set dateUpdated = "February 2023" %}
{% set backlog_issue_id = "" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
    {% include "service-assurance/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

    <div class="app-index-navigation app-u-hide-desktop govuk-!-margin-bottom-3">
        <details class="dfeuk-details dfeuk-expander">
            <summary class="dfeuk-details__summary">
                <span class="dfeuk-details__summary-text ">
        Section menu
      </span>
            </summary>
            <div class="dfeuk-details__text  govuk-!-margin-left-5">
                {% include "includes/_side-nav.njk" %}
            </div>
        </details>
    </div>

    <h2 class="govuk-heading-m">When to book</h2>

<p>When you start your discovery you should plan to book your peer review so that it happens near the end of discovery.</p>

<p>However, you should request this at least 5 weeks in advance so the service assessment team has time to arrange a panel. 
</p>


<div class="govuk-inset-text">

  <h2 class="govuk-heading-m">Book online</h2>
<p class="govuk-body">You can book and manage a peer review online using Assure your service.</p>

<a class="govuk-button" href="https://assure-your-service.herokuapp.com/book/" target="_blank" data-module="govuk-button">
  Book a peer review
</a>

</div>

<h2 class="govuk-heading-m">Who should attend</h2>
<p class="govuk-body">It’s recommended that the following team members attend:</p>
<ul class="govuk-list govuk-list--bullet">
  <li> user researcher</li>
  <li> delivery manager</li>
    <li> product manager</li>
  <li> designer</li>
</ul>

<p>But bring the people you feel have the most knowledge of your discovery. This might be the whole team.</p>
 <nav class="dfeuk-pagination" role="navigation" aria-label="Pagination">
    <ul class="dfeuk-list dfeuk-pagination__list">
      <li class="dfeuk-pagination-item--previous">
        <a class="dfeuk-pagination__link dfeuk-pagination__link--prev" href="/service-assurance/discovery/">
          <span class="dfeuk-pagination__title">Previous</span>
          <span class="dfeuk-u-visually-hidden">:</span>
          <span class="dfeuk-pagination__page">Prepare for a peer review</span>
          <svg class="dfeuk-icon dfeuk-icon__arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
            <path d="M4.1 12.3l2.7 3c.2.2.5.2.7 0 .1-.1.1-.2.1-.3v-2h11c.6 0 1-.4 1-1s-.4-1-1-1h-11V9c0-.2-.1-.4-.3-.5h-.2c-.1 0-.3.1-.4.2l-2.7 3c0 .2 0 .4.1.6z"></path>
          </svg>
        </a>
      </li>
    </ul>
  </nav>


{% endblock %}