{% set pageTitle = "Book a peer review" %}
{% set pageDescription = "Find out when to book a review and who should attend. " %}
{% set pageSection = "Service assurance" %}
{% set dateUpdated = "February 2023" %}
{% set backlog_issue_id = "" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
    {% include "service-assurance/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

    <div class="app-index-navigation app-u-hide-desktop govuk-!-margin-bottom-3">
        <details class="dfeuk-details dfeuk-expander">
            <summary class="dfeuk-details__summary">
                <span class="dfeuk-details__summary-text ">
        Section menu
      </span>
            </summary>
            <div class="dfeuk-details__text  govuk-!-margin-left-5">
                {% include "includes/_side-nav.njk" %}
            </div>
        </details>
    </div>

    <h2 class="govuk-heading-m">When to book</h2>

<p>When you start your discovery you should plan to book your peer review so that it happens near the end of your discovery.</p>

<p>However, you should request this at least 5 weeks in advance so the Service Assessment team has time to arrange a panel. 
</p>

<h2 class="govuk-heading-m">Who should attend</h2>
<p class="govuk-body">It’s recommended that the following team members attend:</p>
<ul class="govuk-list govuk-list--bullet">
  <li> user researcher</li>
  <li> delivery manager</li>
    <li> product manager</li>
  <li> designer</li>
</ul>

<p>But bring the people you feel have the most knowledge of your discovery. This might be the whole team.</p>

<button class="govuk-button" data-module="govuk-button">
  Book a peer review
</button>

{% endblock %}