{% set pageTitle = "Discovery peer review" %}
{% set pageDescription = "Find out what a discovery peer review is and what to prepare." %}
{% set pageSection = "Service assurance" %}
{% set dateUpdated = "February 2023" %}
{% set backlog_issue_id = "" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
    {% include "service-assurance/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

    <div class="app-index-navigation app-u-hide-desktop govuk-!-margin-bottom-3">
        <details class="dfeuk-details dfeuk-expander">
            <summary class="dfeuk-details__summary">
                <span class="dfeuk-details__summary-text ">
        Section menu
      </span>
            </summary>
            <div class="dfeuk-details__text  govuk-!-margin-left-5">
                {% include "includes/_side-nav.njk" %}
            </div>
        </details>
    </div>

<h2 class="govuk-heading-m">Why have one</h2>


<p class="govuk-body">A peer review will give you reassurance to confirm whether you:</p>
<ul class="govuk-list govuk-list--bullet">
  <li> have understood what the problem is and priorities for the team</li>
  <li> should move into the alpha phase</li>
</ul>
<p>After the review, the team will get a report with practical recommendations and advice. It will not result in a pass or fail. It will not stop a team from progressing.</p>

<p>But remember, if research shows that it's better to stop at the end of discovery, this is not a failure. The team will be saving time and money that could be better spent elsewhere.</p>

<h3 class="govuk-heading-s">What a team gets out of having a review</h3>

<p>If the review panel has recommendations for the team these will be detailed in the report. The team can then decide on how they want to act on the recommendations, this could mean having a follow-up call, or a workshop.</p>
<p>Use the report to the team's advantage. Communicate recommendations with stakeholders or use it to prepare for the next phase of delivery.  </p>

<h2 class="govuk-heading-m">What to expect </h2>

<h3 class="govuk-heading-s">One to 2 days before</h3>
<p>The team will have a call with the panel. This is a chance for everyone to meet and agree what will happen during the session.</p>

<h3 class="govuk-heading-s">On the day</h3>
<p>Peer reviews are 2 hours. People who attend include members of the discovery team and a peer review panel. The panel usually includes a user researcher, designer and product or delivery manager. There may also be silent observers for learning and development opportunities.</p>

<p> How you want the review to run is for you to agree with the panel. You could, for example, agree to have 45 minutes to an hour Show & Tell, with the remaining time for questions and answers. You should aim to explore the problem space, the users and agree next steps.</p>
<h3 class="govuk-heading-s">After the review</h3>
<p>The team will receive a report written by the panel within 3 days. It will include recommendations for next steps and ideas to explore if the discovery is moving to the next phase.</p>

<h2 class="govuk-heading-m">What to prepare</h2>
<p>Think about the best way to show the narrative of your discovery.</p>

<p class="govuk-body">Include things like:</p>
<ul class="govuk-list govuk-list--bullet">
  <li> how you've explored the problem space</li>
  <li> who are users and their needs</li>
  <li> existing services that meet your users' needs</li>
  <li> any current user journeys</li>
  <li> any existing policy or solution constraints</li>
  <li> next steps to take</li>
</ul>
<p>A discovery peer review is not the same as a service assessment. However you should consider guidance in Apply the Service Standard in DfE for the discovery phase in <a href='/apply-the-service-standard/'>standards 1 to 7</a>.</p>
<p>Don't put a lot of time and effort into creating a large slide deck. Show your work and talk the panel through it.</p>

<div class="govuk-inset-text">
  What you show could be a mixture of sharing Lucid boards, docs, and sketches. It could include slides but it doesn't have to.
</div>
<nav class="dfeuk-pagination" role="navigation" aria-label="Pagination">
    <ul class="dfeuk-list dfeuk-pagination__list">
      <li class="dfeuk-pagination-item--next">
        <a class="dfeuk-pagination__link dfeuk-pagination__link--next" href="/service-assurance/discovery/book">
          <span class="dfeuk-pagination__title">Next</span>
          <span class="dfeuk-u-visually-hidden">:</span>
          <span class="dfeuk-pagination__page">Book a peer review</span>
          <svg class="dfeuk-icon dfeuk-icon__arrow-right" xmlns="/service-assurance/discovery/book" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
            <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
{% endblock %}