{%if not largeSBS%}
    <div class="app-step-nav-related app-step-nav-related--singular">
        <h2 class="app-step-nav-related__heading">
            <span class="app-step-nav-related__pretitle">Part of</span>
            <a href="/service-assurance/">
          Assure your service: step by step
        </a>
        </h2>
    </div>
    {%endif%}

    <div data-module="appstepnav"id="step-by-step-navigation" class="app-step-nav {%if largeSBS%}app-step-nav--large{%endif%} js-hidden" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all steps" data-hide-all-text="Hide all steps">
        <ol class="app-step-nav__steps">
            <li class="app-step-nav__step js-step {{active_block_1}}" id="check-assurance">
                <div class="app-step-nav__header js-toggle-panel" data-position="1">
                    <h2 class="app-step-nav__title">
                        <span class="app-step-nav__circle app-step-nav__circle--number">
                            <span class="app-step-nav__circle-inner">
                                <span class="app-step-nav__circle-background">
                                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 1<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                                </span>
                            </span>
                        </span>

                        <span class="js-step-title">
                Check what assurance you need
              </span>
                    </h2>
                </div>

                <div class="app-step-nav__panel js-panel" id="step-panel-check-assurance-1" data-show>
                    <p class="app-step-nav__paragraph">All digital delivery work in DfE will need some kind of assurance.</p>

                    <ol class="app-step-nav__list  js-list-item" data-length="3">
                        <li class="app-step-nav__list-item js-list-item ">
                            <a data-position="1.2" class="app-step-nav__link js-link" href="/service-assurance/check-what-assurance-you-need/types-of-assurance">Types of assurance</a>
                        </li>
                        <li class="app-step-nav__list-item js-list-item ">
                            <a data-position="1.1" class="app-step-nav__link js-link" href="/service-assurance/check-what-assurance-you-need/check">Check what assurance you need for your service</a>
                        </li>
                        <li class="app-step-nav__list-item js-list-item">
                            <a data-position="1.3" class="app-step-nav__link js-link " href="/service-assurance/check-what-assurance-you-need/why-you-need-to-assure-your-work">Why you need to assure your work</a>
                        </li>
                    </ol>
                </div>

            </li>

            <li class="app-step-nav__step js-step {{active_block_2}}" id="prepare-disco-pr">
                <div class="app-step-nav__header js-toggle-panel" data-position="2">
                    <h2 class="app-step-nav__title">
                        <span class="app-step-nav__circle app-step-nav__circle--number">
                            <span class="app-step-nav__circle-inner">
                                <span class="app-step-nav__circle-background">
                                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 2<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                                </span>
                            </span>
                        </span>

                        <span class="js-step-title">
                Prepare for a discovery peer review
              </span>
                    </h2>
                </div>

                <div class="app-step-nav__panel js-panel" id="step-panel-prepare-disco-pr-2">

                    <ol class="app-step-nav__list " data-length="1">
                        <li class="app-step-nav__list-item js-list-item ">
                            <a data-position="2.1" class="app-step-nav__link js-link" href="/service-assurance/prepare-for-a-discovery-peer-review/what-a-discovery-peer-review-is">What a discovery peer review is</a>
                        </li>
                    </ol>
                    <p class="app-step-nav__paragraph">If you're a team having a peer review.</p>
                    <ol class="app-step-nav__list " data-length="1">
                        <li class="app-step-nav__list-item js-list-item ">
                            <a data-position="2.1" class="app-step-nav__link js-link" href="/service-assurance/prepare-for-a-discovery-peer-review/who-should-attend-a-peer-review">Who should attend a peer review</a>
                        </li>
                        <li class="app-step-nav__list-item js-list-item ">
                            <a data-position="2.1" class="app-step-nav__link js-link" href="/service-assurance/prepare-for-a-discovery-peer-review/what-to-prepare-for-a-peer-review">What to prepare for a peer review</a>
                        </li>
                    </ol>

                    <p class="app-step-nav__paragraph">If you're a peer reviewer.</p>
                    <ol class="app-step-nav__list " data-length="1">
                        <li class="app-step-nav__list-item js-list-item ">
                            <a data-position="2.1" class="app-step-nav__link js-link" href="/service-assurance/prepare-for-a-discovery-peer-review/peer-reviewer-role">Your role as a peer reviewer</a>
                        </li>
                    </ol>
                </div>

            </li>

            <li class="app-step-nav__step js-step {{active_block_3}}" id="book-a-dpr">
                <div class="app-step-nav__header js-toggle-panel" data-position="3">
                    <h2 class="app-step-nav__title">
                        <span class="app-step-nav__circle app-step-nav__circle--number">
                            <span class="app-step-nav__circle-inner">
                                <span class="app-step-nav__circle-background">
                                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 3<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                                </span>
                            </span>
                        </span>

                        <span class="js-step-title">
                Book and manage a discovery peer review
              </span>
                    </h2>
                </div>

                <div class="app-step-nav__panel js-panel" id="step-panel-book-a-dpr-3">
                    <p class="app-step-nav__paragraph">You need to give at least 5 weeks notice for a peer review.</p>
                    <ol class="app-step-nav__list " data-length="1">
                        <li class="app-step-nav__list-item js-list-item ">
                            <a data-position="3.1" class="app-step-nav__link js-link" href="/service-assurance/book-a-discovery-peer-review/book">Book your peer review online</a>
                        </li>
                        <li class="app-step-nav__list-item js-list-item ">
                            <a data-position="3.1" class="app-step-nav__link js-link" href="/service-assurance/book-a-discovery-peer-review/manage">Manage your peer review online</a>
                        </li>
                    </ol>
                </div>

            </li>

            <li class="app-step-nav__step js-step {{active_block_4}}" id="after-dpr">
                <div class="app-step-nav__header js-toggle-panel" data-position="4">
                    <h2 class="app-step-nav__title">
                        <span class="app-step-nav__circle app-step-nav__circle--number">
                            <span class="app-step-nav__circle-inner">
                                <span class="app-step-nav__circle-background">
                                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 4<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                                </span>
                            </span>
                        </span>

                        <span class="js-step-title">
               After a discovery peer review
              </span>
                    </h2>
                </div>

                <div class="app-step-nav__panel js-panel" id="step-panel-after-dpr-4">
                    <p class="app-step-nav__paragraph">If you're a team having a peer review.</p>
                    <ol class="app-step-nav__list " data-length="1">
                        <li class="app-step-nav__list-item js-list-item ">
                            <a data-position="2.1" class="app-step-nav__link js-link" href="/service-assurance/after-discovery-peer-review/getting-the-report">Receiving feedback and recommendations in a report</a>
                        </li>
                        <li class="app-step-nav__list-item js-list-item ">
                            <a data-position="2.1" class="app-step-nav__link js-link" href="/service-assurance/after-discovery-peer-review/recommendations">How to take action on any recommendations</a>
                        </li>
                    </ol>

                    <p class="app-step-nav__paragraph">If you're a peer reviewer.</p>
                    <ol class="app-step-nav__list " data-length="1">
                        <li class="app-step-nav__list-item js-list-item ">
                            <a data-position="2.1" class="app-step-nav__link js-link" href="/service-assurance/after-discovery-peer-review/complete-report">Completing the peer review report</a>
                        </li>
                        <li class="app-step-nav__list-item js-list-item ">
                            <a data-position="2.1" class="app-step-nav__link js-link" href="/service-assurance/after-discovery-peer-review/supporting-discovery">Supporting the discovery team with any recommendations</a>
                        </li>
                    </ol>

                    <p class="app-step-nav__paragraph">Everyone involved in the peer review</p>

                    <ol class="app-step-nav__list " data-length="1">
                        <li class="app-step-nav__list-item js-list-item ">
                            <a data-position="2.1" class="app-step-nav__link js-link" href="/service-assurance/after-discovery-peer-review/feedback-on-process">Give feedback on the discovery peer review process</a>
                        </li>
                    </ol>

                </div>

            </li>

            <li class="app-step-nav__step js-step {{active_block_5}}" id="prepare-sa">
                <div class="app-step-nav__header js-toggle-panel" data-position="5">
                    <h2 class="app-step-nav__title">
                        <span class="app-step-nav__circle app-step-nav__circle--number">
                            <span class="app-step-nav__circle-inner">
                                <span class="app-step-nav__circle-background">
                                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 5<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                                </span>
                            </span>
                        </span>

                        <span class="js-step-title">
                Prepare for a service assessment
              </span>
                    </h2>
                </div>

                <div class="app-step-nav__panel js-panel" id="step-panel-prepare-sa-5">
                    <p class="app-step-nav__paragraph">Service assessments are done in the alpha, public and private beta, and live pahses.</p>

                    <ol class="app-step-nav__list " data-length="5">
                        <li class="app-step-nav__list-item js-list-item ">
                            <a data-position="5.1" class="app-step-nav__link js-link" href="/x">What a service assessment is</a>
                        </li>
                        <li class="app-step-nav__list-item js-list-item ">
                            <a data-position="5.1" class="app-step-nav__link js-link" href="/x">DfE panel assessments</a>
                        </li>
                        <li class="app-step-nav__list-item js-list-item ">
                            <a data-position="5.1" class="app-step-nav__link js-link" href="/x">Cross-government panel assessments <span class="app-step-nav__context">previously GDS/CDDO assessments</span></a>
                        </li>
                    </ol>
                </div>

            </li>

            <li class="app-step-nav__step js-step {{active_block_6}}" id="book-and-manage-sa">
                <div class="app-step-nav__header js-toggle-panel" data-position="6">
                    <h2 class="app-step-nav__title">
                        <span class="app-step-nav__circle app-step-nav__circle--number">
                            <span class="app-step-nav__circle-inner">
                                <span class="app-step-nav__circle-background">
                                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 6<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                                </span>
                            </span>
                        </span>

                        <span class="js-step-title">
                Book a service assessment
              </span>
                    </h2>
                </div>

                <div class="app-step-nav__panel js-panel" id="step-panel-book-and-manage-sa-6">
                    <p class="app-step-nav__paragraph">You need to give at least 6 weeks notice when booking a service assessment.</p>

                    <ol class="app-step-nav__list " data-length="5">
                        <li class="app-step-nav__list-item js-list-item ">
                            <a data-position="6.1" class="app-step-nav__link js-link" href="/x">Book your service assessment online</a>
                        </li>

                    </ol>
                </div>

            </li>

            <li class="app-step-nav__step js-step {{active_block_7}}" id="after-sa">
                <div class="app-step-nav__header js-toggle-panel" data-position="7">
                    <h2 class="app-step-nav__title">
                        <span class="app-step-nav__circle app-step-nav__circle--number">
                            <span class="app-step-nav__circle-inner">
                                <span class="app-step-nav__circle-background">
                                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 7<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                                </span>
                            </span>
                        </span>

                        <span class="js-step-title">
                 After a service assessment
              </span>
                    </h2>
                </div>

                <div class="app-step-nav__panel js-panel" id="step-panel-after-sa-7">
                    <p class="app-step-nav__paragraph">If you're a team having a service assessment.</p>
                    <ol class="app-step-nav__list " data-length="1">
                        <li class="app-step-nav__list-item js-list-item ">
                            <a data-position="2.1" class="app-step-nav__link js-link" href="/x">Receiving the assessment report</a>
                        </li>
                        <li class="app-step-nav__list-item js-list-item ">
                            <a data-position="2.1" class="app-step-nav__link js-link" href="/x">How to take action on any recommendations</a>
                        </li>
                        <li class="app-step-nav__list-item js-list-item ">
                            <a data-position="2.1" class="app-step-nav__link js-link" href="/x">If you need a reassessment</a>
                        </li>
                    </ol>

                    <p class="app-step-nav__paragraph">If you're an assessor.</p>
                    <ol class="app-step-nav__list " data-length="1">
                        <li class="app-step-nav__list-item js-list-item ">
                            <a data-position="2.1" class="app-step-nav__link js-link" href="/x">Completing the assessment report</a>
                        </li>
                        <li class="app-step-nav__list-item js-list-item ">
                            <a data-position="2.1" class="app-step-nav__link js-link" href="/x">Reassessing the service</a>
                        </li>
                    </ol>
                </div>

            </li>
        </ol>
    </div>