{% set pageTitle = "Service assurance: step by step" %}
{% set pageDescription = "Check what you need to assure your service in the Department for Education" %}
{% set pageSection = "Service assurance" %}
{% set dateUpdated = "February 2023" %}
{% set backlog_issue_id = "" %}
{% set largeSBS = "true" %}

{% extends "includes/sbs-layout.njk" %}

{% block breadcrumb %}
    {% include "service-assurance/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

{% include "service-assurance/_sbs.njk"%}

{% endblock %}
