{% set pageTitle = "Service assurance" %}
{% set pageDescription = "This guidance will help you assure your service in the Department for Education" %}
{% set pageSection = "Service assurance" %}
{% set dateUpdated = "February 2023" %}
{% set backlog_issue_id = "" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
    {% include "service-assurance/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

<h2 class="govuk-heading-m">Discovery peer reviews</h2>

<p>A discovery peer review is a 2 hour informal review of a team's work in the  <a href="https://www.gov.uk/service-manual/agile-delivery/how-the-discovery-phase-works" target="_blank">discovery phase (opens in new tab)</a>. </p>

<p>It's a way to get feedback and recommendations at the end of this phase.</p>

<p>It's not an assessment. There are no assessments at discovery. </p>

    <div class="app-index-navigation app-u-hide-desktop govuk-!-margin-bottom-3">
        <details class="dfeuk-details dfeuk-expander">
            <summary class="dfeuk-details__summary">
                <span class="dfeuk-details__summary-text ">
        Section menu
      </span>
            </summary>
            <div class="dfeuk-details__text  govuk-!-margin-left-5">
                {% include "includes/_side-nav.njk" %}
            </div>
        </details>
    </div>





{% endblock %}