{% set pageTitle = "Complete the report" %}
{% set pageDescription = " " %}
{% set pageSection = "Service assurance" %}
{% set dateUpdated = "February 2023" %}
{% set backlog_issue_id = "" %}
{% set active_block_4 = "active-step" %}

{% extends "includes/sbs-layout.njk" %}

{% block breadcrumb %}
    {% include "service-assurance/_breadcrumb.njk" %}
{% endblock %}



{% block bodyContent %}

<p>The report should aim to conclude whether the team have understood the problem space and priorities for next steps following the end of discovery.</p> 

<p>If the team have not yet reached a decision on next steps, the report will give feedback and recommendations based on the evidence shared at the review.</p>

<h2 class="govuk-heading-l">Draft the report</h2>

<p>During the discovery peer review, work together with the rest of the panel to gather your findings and recommendations. </p>

<p>Do this in a way that suits you. For example, use a shared Word doc or the panel chat in Slack.</p>

<p>Once the panel are happy with the notes, add them to the final report in the service. This is usually done by the lead assessor but the panel can add their own findings individually.</p>

<p>It's the lead assessor's responsibility to submit the report to the service assessment team for final checks, before it's shared with the team in discovery. </p>

<p>If the team accept the report and there are recommendations the panel have offered to support, the team will be in touch. This could mean having a follow-up call, or giving advice on a workshop, depending on the recommendations.</p>

<p>If the team challenge the report, they'll raise any issues with the service assessment team, who'll set up a meeting with the panel. </p>

<p><a href="/reports/">View reports (opens in new tab)</a> from previous discovery peer reviews.  </p>

<h3 id="give-the-project-an-overall-rag-status" class="govuk-heading-s">Give the project an overall RAG status</h3>

<p> Assessors will give the discovery a RAG (red, amber, green) status with a description of what this means.

<h3 class="govuk-heading-s">Red</h3>
<p>There are serious concerns or recommendations the team should address before continuing. The team may want to consider escalating issues or problems to their senior responsible officer or senior leadership team. They might want to consider stopping the discovery at this point</p>
<h3 class="govuk-heading-s">Amber</h3>
<p>There are some recommendations. At this point, the team may want to look at whether or not they continue or revisit the purpose of the discovery. This may result in running another discovery or evidencing improvements in an alpha assessment.</p>
<h3 class="govuk-heading-s">Green</h3>
<p>The team is on the right track.</p>

<h2 class="govuk-heading-m">Review considerations</h2>

<p>During the peer review consider the practical tips in <a href="https://apply-the-service-standard.education.gov.uk/">Apply the Service Standard in DfE</a> against standards 1 to 7 in the discovery phase. This will help you understand if the team have done what they need to do to mark the end of discovery. </p>

<p>Although a team in discovery won't yet have made tech choices they should, if relevant, show an understand of existing options.</p>

<p>Acknowledge any constraints or business requirements the team are working in.</p>

<h3 class="govuk-heading-s">Include recommendations</h3>

<p>Think about how the report can support the team to either explore things further or move into the next phase. </p>

<p>Where possible, include recommendations for the team regardless of whether the outcome is to stop, extend or continue. </p>

<p>Make sure you consider feedback on the positive aspects of the discovery too, not only on recommendations on what to improve. </p>


<p></p>
{% endblock %}

{% block stepByStep %}
    {% include "service-assurance/_sbs.njk"%}
{% endblock %}