{% set pageTitle = "Complete the peer review report" %}
{% set pageDescription = " " %}
{% set pageSection = "Service assurance" %}
{% set dateUpdated = "February 2023" %}
{% set backlog_issue_id = "" %}
{% set active_block_4 = "active-step" %}

{% extends "includes/sbs-layout.njk" %}

{% block breadcrumb %}
    {% include "service-assurance/_breadcrumb.njk" %}
{% endblock %}



{% block bodyContent %}

<p>The peer review report should aim to conclude whether the team have understood the problem space and priorities for next steps.</p> 

<p>If the team have not yet reached a decision on next steps, the report will give feedback and recommendations based on the evidence shared at the review.</p>

<h2 class="govuk-heading-l">Review supporting artefacts</h2>

<p>Before the peer review read the supporting artefacts about the discovery in the <a href="/manage/">manage section (opens in new tab)</a> of Assure your service. Start to think about questions you might ask.</p>

<h2 class="govuk-heading-l">Draft the report</h2>

<p>After the discovery peer review, you can draft the report and collaborate with panel members in a discovery peer review template which the lead peer reviewer will create and share in advance. </p>

<p>Then each panel member can complete the final report in the <a href="/manage/">manage section (opens in new tab)</a> of Assure your service.</p>

<p>Once the panel have completed the report, the lead reviewer will submit it to the service assessment team for final checks, before it's shared with the team. </p>

<p>If the team accept the report and there are recommendations the panel have offered to support, the team will be in touch.</p>

<p>If the team challenge the report, they'll raise any issues with the service assessment team, who'll set up a meeting with the panel to talk through the report. </p>

<p><a href="/reports/">View reports (opens in new tab)</a> from previous discovery peer reviews.  </p>

<h2 class="govuk-heading-l">Review considerations</h2>

<p>Consider the practical tips in <a href="https://apply-the-service-standard.education.gov.uk/">Apply the Service Standard in DfE</a> against standards 1 to 7 in the discovery phase. This will help you understand if the team have done what they need to do to mark the end of discovery. </p>

<p>Although a team in discovery won't yet have made tech choices they should, if relevant, show an understand of existing options.</p>

<p>Acknowledge any constraints or business requirements the team are working in.</p>

<h2 class="govuk-heading-l">Include recommendations</h2>

<p>Think about how the report can support the team to either explore things further or move into the next phase. </p>

<p>Where possible, include recommendations for the team regardless of whether the outcome is to stop, extend or continue. </p>

<p>Make sure you consider feedback on the positive aspects of the discovery too, not only on recommendations on what to improve. </p>

<p></p>
{% endblock %}

{% block stepByStep %}
    {% include "service-assurance/_sbs.njk"%}
{% endblock %}