{% set pageTitle = "Give feedback on the discovery peer review process" %}
{% set pageDescription = " " %}
{% set pageSection = "Service assurance" %}
{% set dateUpdated = "May 2023" %}
{% set backlog_issue_id = "" %}
{% set active_block_4 = "active-step" %}

{% extends "includes/sbs-layout.njk" %}

{% block breadcrumb %}
    {% include "service-assurance/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

    <p>After the discovery team has received the report, everyone in the peer review process will get a survey to complete.</p>

    <p>This gives everyone the opportunity to give feedback on the whole process from start to finish.</p>

    <p>Giving feedback helps improve the process for future teams having a discovery peer review.</p>
    <p>We measure the user satisfaction of the:</p>

     <ul class="govuk-list govuk-list--bullet">
    <li>booking process</li>
    <li>peer review itself</li>
    <li>support and guidance around the peer review</li>
  </ul>



   

{% endblock %}

{% block stepByStep %}
    {% include "service-assurance/_sbs.njk"%}
{% endblock %}