{% set pageTitle = "Receive feedback and recommendations in a report" %}
{% set pageDescription = " " %}
{% set pageSection = "Service assurance" %}
{% set dateUpdated = "February 2023" %}
{% set backlog_issue_id = "" %}
{% set active_block_4 = "active-step" %}

{% extends "includes/sbs-layout.njk" %}

{% block breadcrumb %}
    {% include "service-assurance/_breadcrumb.njk" %}
{% endblock %}



{% block bodyContent %}

<p>The service assessment team will email you when the report is ready to read. This should happen approximately 3 days after the peer review takes place.</p>
<p>The report can be found in the manage section of the service.</p>
<p>See an <a href="/report/">example discovery peer review report (opens in new tab)</a>.</p>


<h2 class="govuk-heading-m">What to expect in a report</h2>
<p> The report will contain 3 sections.</p> 

<p>A summary of findings and recommendations from the panel. How the team have demonstrated an understanding of users and their needs. And, how the team have understood the problem space.</p>

<p>The discovery will be given an overall RAG (red, amber green) status with a description of what this means.</p>

<h3 class="govuk-heading-s">Discovery RAG status descriptions</h3>
<p><b>Red</b></p> 
<p>There are serious concerns or recommendations the team should address before continuing. The team may want to consider escalating issues or problems to their senior responsible officer or senior leadership team.</p>
<p><b>Amber</b></p> 
<p>There are some recommendations. At this point, the team may want to look at whether or not they continue or revisit the purpose of the discovery. This may result in running another discovery or evidencing improvements in an alpha assessment.</p>
<p><b>Green</b></p> 
<p>The team is on the right track.</p>

<h2 class="govuk-heading-m">Accept or challenge the report</h2>

<p>Once you've read the report, you have 10 working days to accept or challenge it.</p>

<h3 class="govuk-heading-s">To accept the report</h3>
<p>If the team agree with what's written in the report, you can accept it in the manage section of the service.</p>
<h3 class="govuk-heading-s">To challenge the report</h3>
<p>Email the service assessment team at <a href="mailto:serviceassessment.plus@education.gov.uk">serviceassessment.plus@education.gov.uk</a> to arrange next steps. They'll set up a meeting for you with the panel so that you can talk through the report.</p>

<h2 class="govuk-heading-m">What happens next</h2>
<p>Once the report has been read and accepted by the team, it'll be automatically published in the reports section of the service. The team can then follow any recommendations and next steps.</p> 


  




{% endblock %}

{% block stepByStep %}
    {% include "service-assurance/_sbs.njk"%}
{% endblock %}