{% set pageTitle = "How to take action on any recommendations" %}
{% set pageDescription = " " %}
{% set pageSection = "Service assurance" %}
{% set dateUpdated = "February 2023" %}
{% set backlog_issue_id = "" %}
{% set active_block_4 = "active-step" %}

{% extends "includes/sbs-layout.njk" %}

{% block breadcrumb %}
    {% include "service-assurance/_breadcrumb.njk" %}
{% endblock %}



{% block bodyContent %}

<p>The report may contain recommendations and feedback from the panel. It's up to the team as to what they take forward. The panel will support the team with any suggestions made.</p>

<p>The report will also contain a RAG (red, amber, green) status as part of the outcome.</p>

<h2 class="govuk-heading-m">If discovery gets a red status</h2>

<p class="govuk-body">Depending on the concerns or recommendations, the team could:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>escalate issues or problems to their senior responsible officer or senior leadership team</li>
  <li>contact the lead assessor or relevant heads of profession for support to plan next steps</li>
</ul>

<h2 class="govuk-heading-m">If discovery gets an amber status</h2>

<p class="govuk-body">Depending on the concerns or recommendations, the team could:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>contact the lead assessor or relevant heads of profession for support</li>
  <li>revisit the purpose of the discovery</li>
  <li>revisit next steps for the discovery</li>
  <li>plan how to evidence improvements at an alpha assessment. <a href="/service-standard/1-understand-user-needs">Apply the Service Standard in DfE</a> can help with this</li>
</ul>

<h2 class="govuk-heading-m">If discovery gets a green status</h2>
<p>The team is on the right track. Follow the <a href="/service-standard/1-understand-user-needs">service standard</a> and think about the next phase of delivery.</p>

<h2 class="govuk-heading-m">If the team want to challenge the report</h2>
<p>Email the service assessment team at <a href="mailto:serviceassessment.plus@education.gov.uk">serviceassessment.plus@education.gov.uk</a> to arrange next steps. They'll set up a meeting for the team with the panel so that you can talk through the report.</p>

{% endblock %}

{% block stepByStep %}
    {% include "service-assurance/_sbs.njk"%}
{% endblock %}