{% set pageTitle = "How to take action on any recommendations" %}
{% set pageDescription = " " %}
{% set pageSection = "Service assurance" %}
{% set dateUpdated = "February 2023" %}
{% set backlog_issue_id = "" %}
{% set active_block_4 = "active-step" %}

{% extends "includes/sbs-layout.njk" %}

{% block breadcrumb %}
    {% include "service-assurance/_breadcrumb.njk" %}
{% endblock %}



{% block bodyContent %}

<p>The report will contain observations and recommendations from the panel. The panel will support the team with any recommendations made.</p>

<p>The report will also contain a RAG (red, amber, green) status as part of the outcome.</p>

<h2 class="govuk-heading-m">If discovery gets a red status</h2>

<p class="govuk-body">Depending on the concerns or recommendations, the team could:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>escalate issues or problems to their senior responsible officer or senior leadership team</li>
  <li>contact the lead peer reviewer or relevant head of profession for support to plan next steps</li>
  <li>consider stopping the discovery</li>
</ul>

<h2 class="govuk-heading-m">If discovery gets an amber status</h2>

<p class="govuk-body">Depending on the concerns or recommendations, the team could:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>contact the lead peer reviewer or relevant head of profession for support</li>
  <li>revisit the problem the discovery is aiming to understand</li>
  <li>think about next steps for the discovery</li>
  <li>plan how to demonstrate actioning recommendations at an alpha assessment. <a href="/">Apply the Service Standard in DfE</a> can help with this</li>
</ul>

<h2 class="govuk-heading-m">If discovery gets a green status</h2>
<p>The team is on the right track. Follow the <a href="/">service standard</a> and think about the next phase of delivery.</p>

<h2 class="govuk-heading-m">If the team want to challenge the report</h2>
<p>Email the service assessment team at <a href="mailto:serviceassessment.plus@education.gov.uk">serviceassessment.plus@education.gov.uk</a> to arrange next steps. They'll set up a meeting for the team with the panel so that you can talk through the report.</p>

{% endblock %}

{% block stepByStep %}
    {% include "service-assurance/_sbs.njk"%}
{% endblock %}