{% set pageTitle = "4. Make the service simple to use" %}
{% set pageDescription = "This guidance will help you apply point 4 of the Service Standard in the Department for Education" %}
{% set pageDescriptionPageOverride = "This guidance will help you apply  <a href='https://www.gov.uk/service-manual/service-standard/point-4-make-the-service-simple-to-use' target='_blank' rel='noopener noreferrer'>standard point 4 (opens in new tab)</a>." %}
{% set pageSection = "Service Standard" %}
{% set dateUpdated = "April 2023" %}
{% set backlog_issue_id = "" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "service-standard/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <div class="app-index-navigation app-u-hide-desktop govuk-!-margin-bottom-3">
    <details class="dfeuk-details dfeuk-expander">
      <summary class="dfeuk-details__summary">
        <span class="dfeuk-details__summary-text ">
        Section menu
      </span>
      </summary>
      <div class="dfeuk-details__text  govuk-!-margin-left-5">
        {% include "includes/_side-nav.njk" %}
      </div>
    </details>
  </div>

<div class="dfeuk-card dfeuk-card--care dfeuk-card--care--non-urgent">
  <div class="dfeuk-card--care__heading-container">
    <h2 class="dfeuk-card--care__heading">
      <span role="text">This guidance is most relevant for:</span>
    </h2>
    <span class="dfeuk-card--care__arrow" aria-hidden="true"></span>
  </div>

  <div class="dfeuk-card__content">

			<p><strong class="dfeuk-tag">Content Designers</strong> <strong class="dfeuk-tag">Interaction Designers</strong>
		<strong class="dfeuk-tag">Service Designers</strong></p>
  <p class="govuk-body">Everyone is responsible for meeting the Service Standard, but this standard point is especially relevant for this profession.</p>
  </div>
</div>

  {% markdown %}



  

  {% endmarkdown %}

{% endblock %}