{% set pageTitle = "7. Use agile ways of working" %}
{% set pageDescription = "" %}
{% set pageDescriptionPageOverride = "" %}
{% set pageSection = "Service Standard" %}
{% set dateUpdated = "April 2023" %}
{% set backlog_issue_id = "" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "service-standard/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <div class="app-index-navigation app-u-hide-desktop govuk-!-margin-bottom-3">
    <details class="dfeuk-details dfeuk-expander">
      <summary class="dfeuk-details__summary">
        <span class="dfeuk-details__summary-text ">
        Section menu
      </span>
      </summary>
      <div class="dfeuk-details__text  govuk-!-margin-left-5">
        {% include "includes/_side-nav.njk" %}
      </div>
    </details>
  </div>

  <div class="dfeuk-card dfeuk-card--care dfeuk-card--care--non-urgent">
    <div class="dfeuk-card--care__heading-container">
      <h2 class="dfeuk-card--care__heading">
        <span role="text">This guidance is most relevant for:</span>
      </h2>
      <span class="dfeuk-card--care__arrow" aria-hidden="true"></span>
    </div>
    <div class="dfeuk-card__content">
      <p>
        <strong class="dfeuk-tag">Service Designers</strong>
      </p>
      <p class="govuk-body">Everyone is responsible for meeting the Service Standard, but this standard point is especially relevant for this profession.</p>
    </div>
  </div>

  {% markdown %}



  

  {% endmarkdown %}

{% endblock %}