{% set pageTitle = "8. Iterate and improve frequently" %}
{% set pageDescription = "This guidance will help you apply point 8 of the Service Standard in the Department for Education" %}
{% set pageDescriptionPageOverride = "This guidance will help you apply  <a href='https://www.gov.uk/service-manual/service-standard/point-8-iterate-and-improve-frequently' target='_blank' rel='noopener noreferrer'>standard point 8 (opens in new tab)</a>" %}
{% set pageSection = "Service Standard" %}
{% set dateUpdated = "April 2023" %}
{% set backlog_issue_id = "" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "service-standard/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <div class="app-index-navigation app-u-hide-desktop govuk-!-margin-bottom-3">
    <details class="dfeuk-details dfeuk-expander">
      <summary class="dfeuk-details__summary">
        <span class="dfeuk-details__summary-text ">
        Section menu
      </span>
      </summary>
      <div class="dfeuk-details__text  govuk-!-margin-left-5">
        {% include "includes/_side-nav.njk" %}
      </div>
    </details>
  </div>

  <div class="dfeuk-card dfeuk-card--care dfeuk-card--care--non-urgent">
    <div class="dfeuk-card--care__heading-container">
      <h2 class="dfeuk-card--care__heading">
        <span role="text">This guidance is most relevant for:</span>
      </h2>
      <span class="dfeuk-card--care__arrow" aria-hidden="true"></span>
    </div>
    <div class="dfeuk-card__content">
      <p>
        <strong class="dfeuk-tag">Delivery Managers</strong> <strong class="dfeuk-tag">Product Managers</strong> <strong class="dfeuk-tag">Service Designers</strong>
      </p>
      <p class="govuk-body">Everyone is responsible for meeting the Service Standard, but this standard point is especially relevant to these professions.</p>
    </div>
  </div>

  {% markdown %}

## Summary
Make sure you have the capacity, people and technical flexibility to iterate and improve the service frequently, focusing on improvements that deliver the most value.

## Why it's important 

Services are never 'finished'. Once you've got real people using your service, you need to iterate and improve it.

This means more than doing basic maintenance, like fixing bugs in code or deploying security patches. It means responding to feedback and changes in user needs and behaviour, technology and DfE policy. It also means being able to make <a href="https://www.gov.uk/service-manual/agile-delivery/running-your-service-in-a-sustainable-way" target="_blank">substantial improvements (opens in new tab)</a> through the service's lifetime.

## How to meet this standard in every phase

You'll be assessed on what you've done to meet this standard at <a href='/service-assessments/'>service assessments</a>. However, even if the service you are working on is not being assessed, it's good practice to consider how you'll meet this standard point.

#### Things to consider:

- continued research and iteration based on feedback, data and metrics. <a href="https://bat-design-history.netlify.app/find-teacher-training/making-the-service-more-browseable/" target="_blank" rel="noopner noreferrer">Becoming a teacher design history (opens in new tab)</a> documents how they've done this
- a process to review content and check that it's up-to-date and reflects current policy, or is retired
- where team priorities lie and which improvements will deliver the most value
- methods to iterate and improve design when there are time constraints
- how the team will work together to prioritise a backlog
- how the team will <a href="https://www.gov.uk/service-manual/technology/deploying-software-regularly" target="_blank">deploy software regularly (opens in new tab)</a>
- having the right people in the team to keep improving the service

  
## Profession specific guidance

Each DDaT profession in DfE has their own community and guidance.

<div class="dfeuk-action-link">
  <a class="dfeuk-action-link__link" href="https://design.education.gov.uk/">
    <svg class="dfeuk-icon dfeuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
      <path d="M0 0h24v24H0z" fill="none"></path>
      <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
    </svg>
    <span class="dfeuk-action-link__text">DfE User-centred design manual</span>
  </a>
</div>
<div class="dfeuk-action-link">
  <a class="dfeuk-action-link__link" href="https://user-research.education.gov.uk/">
    <svg class="dfeuk-icon dfeuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
      <path d="M0 0h24v24H0z" fill="none"></path>
      <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
    </svg>
    <span class="dfeuk-action-link__text">DfE User research</span>
  </a>
</div>
<div class="dfeuk-action-link">
  <a class="dfeuk-action-link__link" href="https://dfe-digital.github.io/architecture/#dfe-architecture">
    <svg class="dfeuk-icon dfeuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
      <path d="M0 0h24v24H0z" fill="none"></path>
      <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
    </svg>
    <span class="dfeuk-action-link__text">DfE Architecture</span>
  </a>
</div>
<div class="dfeuk-action-link">
  <a class="dfeuk-action-link__link" href="https://technical-guidance.education.gov.uk/">
    <svg class="dfeuk-icon dfeuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
      <path d="M0 0h24v24H0z" fill="none"></path>
      <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
    </svg>
    <span class="dfeuk-action-link__text">DfE Technical Guidance</span>
  </a>
</div>
  {% endmarkdown %}

{% endblock %}