{% set pageTitle = "Manage your peer review" %}
{% set pageDescription = " " %}
{% set pageSection = "Service assurance" %}
{% set dateUpdated = "February 2023" %}
{% set backlog_issue_id = "" %}
{% set active_block_3 = "active-step" %}

{% extends "includes/sbs-layout.njk" %}

{% block breadcrumb %}
  {% include "service-assurance/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <p>Once you've submitted a request to book a peer review, the Service Assessment team will check it.</p>

  <p>These checks can take about 3 working days. You'll receive an email telling you what will happen next.</p>

  <h2 class="govuk-heading-m">If your request is accepted</h2>

  <p>You'll be able to manage the request online, for example you can:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>choose a date for the review</li>
    <li>add links to artefacts</li>
    <li>see who the peer reviewers will be</li>
    <li>add details of the team attending the peer review</li>
    <li>assign responsibility of the peer review to someone else</li>
  </ul>

      <div class="dfeuk-action-link">
        <a class="dfeuk-action-link__link" href="https://assure-your-service.herokuapp.com/manage" target="_blank">
            <svg class="dfeuk-icon dfeuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
            </svg>
            <span class="dfeuk-action-link__text">Manage your peer review request online</span>
        </a>
    </div>

   <p>Only Department for Education staff can book or manage a discovery peer review online.</p>

  <h2 class="govuk-heading-m">If your request is rejected</h2>

  <p>The Service Assessment team will tell you why the request has been rejected.</p>

  <p>You may be asked to <a href="/service-assurance/check-what-assurance-you-need/types-of-assurance">assure your discovery another way</a>, if it is not suitable for a peer review. </p>


{% endblock %}

{% block stepByStep %}
  {% include "service-assurance/_sbs.njk"%}
{% endblock %}