{% set pageTitle = "Agenda template" %}
{% set pageDescription = " " %}
{% set pageSection = "Service assurance" %}
{% set dateUpdated = "February 2023" %}
{% set backlog_issue_id = "" %}
{% set active_block_2 = "active-step" %}

{% extends "includes/sbs-layout.njk" %}

{% block breadcrumb %}
    {% include "service-assurance/_breadcrumb.njk" %}
{% endblock %}



{% block bodyContent %}

dddd


{% endblock %}

{% block stepByStep %}
    {% include "service-assurance/_sbs.njk"%}
{% endblock %}