{% set pageTitle = "Your role as an assessor" %}
{% set pageDescription = " " %}
{% set pageSection = "Service assurance" %}
{% set dateUpdated = "February 2023" %}
{% set backlog_issue_id = "" %}
{% set active_block_2 = "active-step" %}

{% extends "includes/sbs-layout.njk" %}

{% block breadcrumb %}
    {% include "service-assurance/_breadcrumb.njk" %}
{% endblock %}


{% block bodyContent %}

<p>As an assessor you'll help a team understand if they've completed their discovery.</p>
<p> You'll consider whether they've made well-evidenced recommendations and are ready to move on to the next phase.</p>
<p>A panel can be made up of a user researcher, designer, product or delivery and a technical role. Together, you'll provide a level of assurance for a team to decide if they need to stop or carry on.</p>

<p>As part of the panel, there will be a lead assessor, who'll be responsible for chairing the peer review and coordinating the report.</p>

<p>Before the peer review you'll:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>read the supporting artefacts about the discovery. Start to think about questions you might ask</li>
  <li>take part in a pre-call organised by the service assessment team to do introductions and agree a peer review agenda</li>
  <li>answer any questions or concerns the team may have</li>
</ul>


<p>At the peer review you'll: </p>

<ul class="govuk-list govuk-list--bullet">
  <li>review the work of the discovery</li>
  <li>decide if the team have done enough to understand who the users are and their needs</li>
  <li>understand what the problem is</li>
  <li>understand priorities for the team</li>
  <li>determine if the team has things to work on in an alpha or should stop</li>
  <li>provide authoritative advice, guidance, and recommendations</li>
</ul>

<p>After the peer review you'll:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>write up any recommendations or outcomes <a href="/service-assurance/after-discovery-peer-review/complete-report">in the report</a></li>
  <li>submit the report, if you're the lead assessor</li>
  <li>provide support if needed after the review with any actions from the peer review</li>
</ul>

<p>You'll be supported by the service assessment team throughout the process.</p>

<h2 class="govuk-heading-m" id="example-review-agenda">Example review agenda</h2>

<p>A peer review is 2 hours long and can take place on Tuesdays, Wednesdays, and Thursdays.</p>

<p>You should agree in the pre-call with the team how the session will run, an example agenda might look like:</p>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Times and actions</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Time</th>
      <th scope="col" class="govuk-table__header">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">5 to 10 minutes</th>
      <td class="govuk-table__cell">Introductions and housekeeping</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">45 minutes</th>
      <td class="govuk-table__cell">Team show and tell</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">10 minutes</th>
      <td class="govuk-table__cell">Break</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">45 minutes</th>
      <td class="govuk-table__cell">Questions and answers</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">5 minutes</th>
      <td class="govuk-table__cell">Wrap up and next steps</td>
    </tr>
  </tbody>
</table>

<p>You can also <a href="/download/DPR-Agenda-Template.potx">download this as a PowerPoint template</a> for presentations.</p>

{% endblock %}

{% block stepByStep %}
    {% include "service-assurance/_sbs.njk"%}
{% endblock %}