{% set pageTitle = "Your role as a peer reviewer" %}
{% set pageDescription = " " %}
{% set pageSection = "Service assurance" %}
{% set dateUpdated = "February 2023" %}
{% set backlog_issue_id = "" %}
{% set active_block_2 = "active-step" %}

{% extends "includes/sbs-layout.njk" %}

{% block breadcrumb %}
    {% include "service-assurance/_breadcrumb.njk" %}
{% endblock %}



{% block bodyContent %}

<p>As a peer reviewer, you are helping a team understand if their discovery is good enough.</p>
<p>A peer review panel is made up of a user researcher, designer and a product or delivery person.</p>
<p>Together, you will be providing a level of assurance for the team to device if they need to stop or carry on with their work.</p>

<p>This means: </p>

<ul class="govuk-list govuk-list--bullet">
  <li>reviewing the work of the discovery team</li>
  <li>deciding if they have done enough to understand who the users are and their needs</li>
  <li>understanding what the problem is and priorities for the team</li>
  <li>determining if the team has things to work on in an Alpha or should stop</li>
  <li>providing authoritative advice, guidance, and recommendations</li>
</ul>

<p>You'll also have additional responsibilites, which include:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>taking part in a pre-call to do introductions and agree an agenda for the review</li>
  <li>answering any questions or concerns the team may have</li>
  <li>writing up any recommendations or outcomes in the peer review report</li>
  <li>providing support if needed after the review with any actions from the peer review</li>
</ul>

<p>You'll be supported by the Service Assessment Team throughout the process.</p>

<h2 class="govuk-heading-m" id="example-review-agenda">Example review agenda</h2>

<p>A peer review is 2 hours long and take place on Tuesdays, Wednesdays, and Thursdays.</p>

<p>You should agree in the pre-call with the team how the session will run, an example running order might look like:</p>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Times and actions</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Time</th>
      <th scope="col" class="govuk-table__header">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">5-10 minutes</th>
      <td class="govuk-table__cell">Introductions and housekeeping</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">45 minutes</th>
      <td class="govuk-table__cell">Team show and tell</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">10 minuutes</th>
      <td class="govuk-table__cell">Break</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">45 minutes</th>
      <td class="govuk-table__cell">Questions and answers</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">5 minutes</th>
      <td class="govuk-table__cell">Wrap up and next steps</td>
    </tr>
  </tbody>
</table>

<p>You can also <a href="/download/DPR-Agenda-Template.potx">download this as a PowerPoint template</a> for presentations.</p>

{% endblock %}

{% block stepByStep %}
    {% include "service-assurance/_sbs.njk"%}
{% endblock %}