{% set pageTitle = "What a discovery peer review is" %}
{% set pageDescription = " " %}
{% set pageSection = "Service assurance" %}
{% set dateUpdated = "February 2023" %}
{% set backlog_issue_id = "" %}
{% set active_block_2 = "active-step" %}

{% extends "includes/sbs-layout.njk" %}

{% block breadcrumb %}
    {% include "service-assurance/_breadcrumb.njk" %}
{% endblock %}



{% block bodyContent %}

<p> A discovery peer review is a 2 hour informal review of a team’s work in the <a href="https://www.gov.uk/service-manual/agile-delivery/how-the-discovery-phase-works" target="_blank" rel="noopner noreferrer">discovery phase (opens in new tab)</a>.</p>

<p> It’s a way to get feedback and recommendations at the end of this phase. </p>

<p> It's not an assessment. There are no assessments at discovery. </p>

<p><a href="/service-assurance/book-a-discovery-peer-review/book">Book and manage a discovery peer review</a></p>

  

<h2 class="govuk-heading-m">Why have one</h2>


<p class="govuk-body">A peer review will give reassurance to confirm whether you:</p>
<ul class="govuk-list govuk-list--bullet">
  <li> have understood what the problem is and priorities for the team</li>
  <li> should move into the alpha phase</li>
</ul>
<p>After the review, the team will get a report with practical recommendations and advice. It will not result in a pass or fail. It will not stop a team from progressing.</p>

<p>But remember, if research shows that it's better to stop at the end of discovery, this is not a failure. The team will be saving time and money that could be better spent elsewhere.</p>

<h3 class="govuk-heading-s">What a team gets out of having a review</h3>

<p>If the review panel has recommendations for the team these will be detailed in the report. The team can then decide on how they want to act on the recommendations, this could mean having a follow-up call, or a workshop.</p>
<p>Use the report to the team's advantage. Communicate recommendations with stakeholders or use it to prepare for the next phase of delivery.  </p>

 <h2 class="govuk-heading-m">When to book</h2>

<p>When you start your discovery you should plan to <a href="/service-assurance/book-a-discovery-peer-review/book">book your peer review</a> so that it happens near the end of discovery.</p>

<p>However, you should request this at least 5 weeks in advance so the Service Assessment team has time to arrange a panel. 
</p>

{% endblock %}
{% block stepByStep %}
    {% include "service-assurance/_sbs.njk"%}
{% endblock %}