{% set pageTitle = "What to prepare for a discovery peer review" %}
{% set pageDescription = " " %}
{% set pageSection = "Service assurance" %}
{% set dateUpdated = "February 2023" %}
{% set backlog_issue_id = "" %}
{% set active_block_2 = "active-step" %}

{% extends "includes/sbs-layout.njk" %}

{% block breadcrumb %}
    {% include "service-assurance/_breadcrumb.njk" %}
{% endblock %}


{% block bodyContent %}

<p>Think about the best way to show the narrative of your discovery.</p>

<p class="govuk-body">Include things like:</p>
<ul class="govuk-list govuk-list--bullet">
  <li> how you've explored the problem space</li>
  <li> who are users and their needs</li>
  <li> existing services that meet your users' needs</li>
  <li> any current user journeys</li>
  <li> any existing policy or solution constraints</li>
  <li> next steps to take</li>
</ul>
<p>These pointers are taken from things teams should consider in the discovery phase for <a href='/apply-the-service-standard/'>standards 1 to 7</a>. Show what you've done to explore these at your peer review.</p>

<div class="govuk-inset-text">
  What you show could be a mixture of sharing Lucid boards, docs, and sketches. It could include slides but it doesn't have to.
</div>
  
<h2 class="govuk-heading-m">What to expect during a discovery peer review </h2>

<h3 class="govuk-heading-s">One to 2 days before</h3>
<p>The team will have a call with the panel. This is a chance for everyone to meet and agree what will happen during the session.</p>

<h3 class="govuk-heading-s">On the day</h3>
<p>Peer reviews are 2 hours. People who attend include members of the discovery team and a peer review panel. The panel usually includes a user researcher, designer and product or delivery manager. There may also be silent observers for learning and development opportunities.</p>

<p> How you want the review to run is for you to agree with the panel. You could, for example, agree to have 45 minutes to an hour Show & Tell, with the remaining time for questions and answers. You should aim to explore the problem space, the users and agree next steps.</p>

<p>See an <a href="/service-assurance/prepare-for-a-discovery-peer-review/peer-reviewer-role#example-review-agenda">example agenda</a>.</p>
<h3 class="govuk-heading-s">After the review</h3>
<p>The panel will aim to send a report to the team within 3 days. It will include recommendations for next steps and ideas to explore if the discovery is moving to the next phase.</p>


{% endblock %}

{% block stepByStep %}
    {% include "service-assurance/_sbs.njk"%}
{% endblock %}