{% set pageTitle = "Who should attend a peer review" %}
{% set pageDescription = " " %}
{% set pageSection = "Service assurance" %}
{% set dateUpdated = "February 2023" %}
{% set backlog_issue_id = "" %}
{% set stepByStepPage = true %}

{% extends "includes/sbs-layout.njk" %}

{% block breadcrumb %}
    {% include "service-assurance/_breadcrumb.njk" %}
{% endblock %}

{% block beforeBody %}
  <div class="app-step-nav-header">
    <span class="app-step-nav-header__part-of">Part of</span>
    <a class="app-step-nav-header__title" href="/service-assurance">
      Assure your service: step by step
    </a>
  </div>
{% endblock %}

{% block bodyContent %}

Content here


{% endblock %}