{% set pageTitle = "Why you need to assure your work" %}
{% set pageDescription = " " %}
{% set pageSection = "Service assurance" %}
{% set dateUpdated = "February 2023" %}
{% set backlog_issue_id = "" %}
{% set active_block_1 = "active-step" %}

{% extends "includes/sbs-layout.njk" %}

{% block breadcrumb %}
    {% include "service-assurance/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

    <p>Assurance frameworks and processes are in place to make sure we're following governance requirements, and that we have appropriate controls in place to mitigate risks.</p>

    <p>These also ensure what we design and build is of good quality, follows required standards, and is safe, secure, and trustworthy for our users.</p>

    <p>Doing things the right way using principles, guidance and standards should not slow down the delivery of services and outcomes.</p>

    <p>Not following assurance processes or working to the Service Standard, puts your service, and the department's reputation at risk.</p>

   

    <h2 class="govuk-heading-m">Legal requirements</h2>

    <p>We are legally required to meet certain standards in our service delivery process, these include:</p>

 <ul class="govuk-list govuk-list--bullet">
    <li>
      <a href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/"  target="_blank" rel="noopener noreferrer">General Data Protection Regulation (GDPR)</a>
    </li>
     <li>
      <a href="https://www.gov.uk/data-protection"  target="_blank" rel="noopener noreferrer">The Data Protection Act 2018</a>
    </li>
    <li>
      <a href="https://www.gov.uk/guidance/equality-act-2010-guidance"  target="_blank" rel="noopener noreferrer">Equality Act 2010</a>
    </li>
    <li>
      <a href="https://www.legislation.gov.uk/uksi/2018/852/introduction/made" target="_blank" rel="noopener noreferrer">Public Sector Bodies (Websites and Mobile Applications) Accessibility Regulations 2018</a>
    </li>
  </ul>

   <p>You could be exposing the department to legal action, enforcement, or sanctions if legally required standards are not followed or assured effectively enough.</p>

<div class="dfeuk-card dfeuk-card--care dfeuk-card--care--warning">
  <div class="dfeuk-card--care__heading-container">
    <h2 class="dfeuk-card--care__heading">
      <span role="text">Accessibility non-compliance example</span>
    </h2>
    <span class="dfeuk-card--care__arrow" aria-hidden="true"></span>
  </div>

  <div class="dfeuk-card__content">

    <p>If you build a service which has not been tested thoroughly with people who use assistive technologies, people with access needs, or have not had an <a href="https://design.education.gov.uk/accessibility/audits" target="_blank">accessibility audit</a>, you risk:</p>

    <ul>
      <li>preventing people from being able to use the service</li>
      <li>people making mistakes when using the service</li>
      <li>complaints from people or additional requests for support</li>
      <li>investigative action by Central Digital Data Office (CDDO)</li>
      <li>enforcement action by the Equality Commission</li>
      <li>creating extra work, which wastes time, money, and effort</li>
    </ul>

    <p>You will be breaking the law if you put a service live with accessibility problems, and do not detail a plan for fixing them, or tell users about the problems in an <a href="https://design.education.gov.uk/accessibility/accessibility-statements" target="_blank">accessibility statement</a>.</p>

  </div>
</div>


{% endblock %}

{% block stepByStep %}
    {% include "service-assurance/_sbs.njk"%}
{% endblock %}