{% set pageTitle = "Site map" %}
{% set pageDescription = "A list of pages on this website - with links" %}
{% set hideDescription = true %}
{% set dateUpdated = "February 2022" %}

{% extends "includes/layout-two-thirds.njk" %}

{% block bodyContent %}

<div class="app-index-navigation app-u-hide-desktop govuk-!-margin-bottom-3">
   <details class="dfeuk-details dfeuk-expander">
            <summary class="dfeuk-details__summary">
                <span class="dfeuk-details__summary-text ">
        Section menu
      </span>
            </summary>
            <div class="dfeuk-details__text  govuk-!-margin-left-5">
                 {% include "includes/_side-nav.njk" %}
            </div>
        </details>
</div>

  <ul>
     <li>
      <a href="/">Service Standard</a>
       <ul class="dfeuk-u-nested-list">
        <li>
          <a href="/service-standard/1-understand-user-needs">1. Understand users and their needs</a>
        </li>
        </ul>
    </li>
  </ul>

{% endblock %}