{% set pageTitle = "Site map" %}
{% set pageDescription = "A list of pages on this website - with links" %}
{% set hideDescription = true %}
{% set dateUpdated = "February 2022" %}

{% extends "includes/layout-two-thirds.njk" %}

{% block bodyContent %}

  <div class="app-index-navigation app-u-hide-desktop govuk-!-margin-bottom-3">
    <details class="dfeuk-details dfeuk-expander">
      <summary class="dfeuk-details__summary">
        <span class="dfeuk-details__summary-text ">
        Section menu
      </span>
      </summary>
      <div class="dfeuk-details__text  govuk-!-margin-left-5">
        {% include "includes/_side-nav.njk" %}
      </div>
    </details>
  </div>

  <ul>
    <li>
      <a href="/">Service Standard</a>
      <ul class="dfeuk-u-nested-list">
        <li>
          <a href="/service-standard/1-understand-user-needs">1. Understand users and their needs</a>
        </li>
        <li>
          <a href="/service-standard/2-solve-a-whole-problem">2. Solve a whole problem for users</a>
        </li>
        <li>
          <a href="/service-standard/3-join-up-across-channels">3. Provide a joined up experience across all channels</a>
        </li>
        <li>
          <a href="/service-standard/4-make-the-service-simple-to-use">4. Make the service simple to use</a>
        </li>
        <li>
          <a href="/service-standard/5-make-sure-everyone-can-use-the-service">5. Make sure everyone can use the service</a>
        </li>
        <li>
          <a href="/service-standard/6-have-a-multidisciplinary-team">6. Have a multidisciplinary team</a>
        </li>
        <li>
          <a href="/service-standard/7-use-agile-ways-of-working">7. Use agile ways of working</a>
        </li>
        <li>
          <a href="/service-standard/8-iterate-and-improve-frequently">8. Iterate and improve frequently</a>
        </li>
        <li>
          <a href="/service-standard/9-create-a-secure-service">9. Create a secure service which protects users’ privacy</a>
        </li>
        <li>
          <a href="/service-standard/10-define-success-publish-performance-data">10. Define what success looks like and publish performance data</a>
        </li>
        <li>
          <a href="/service-standard/11-choose-the-right-tools-and-technology">11. Choose the right tools and technology</a>
        </li>
        <li>
          <a href="/service-standard/12-make-new-source-code-open">12. Make new source code open</a>
        </li>
        <li>
          <a href="/service-standard/13-use-common-standards-components-patterns">13. Use and contribute to open standards, common components and pattern</a>
        </li>
        <li>
          <a href="/service-standard/14-operate-a-reliable-service">14. Operate a reliable service</a>
        </li>
      </ul>
    </li>
  </ul>

{% endblock %}